{% extends 'catalogue/index.html' %}
{% load thumbnail %}

{% block content %}
    <div class="uk-container">
        <div uk-grid>

            <div class="uk-width-1-4">

                <h2>Filters</h2>
                <form method="get" class="uk-form-stacked" action="/catalogue/">
                    {{ filter_form }}<br>
                    <button class="uk-button uk-button-default" type="submit"><span uk-icon="icon: search"></span> Search</button>
                </form>
            </div>
            <div class="uk-width-3-4">

            {% if filter_form.data %}
                <div>
                    Your choice:
                {{ filter_form.as_selected|safe }}
                </div>
            {% endif %}
                <h2>List of Conditioners</h2>
                <div class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid>
                    {% for conditioner in conditioners %}
                        <div>
                            <div class="uk-card uk-card-primary ul-light">
                                <div class="uk-card-media-top">
                                    {% thumbnail conditioner.image "400x400" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="{{ conditioner.title }}">
                                    {% endthumbnail %}
                                </div>
                                <div class="uk-card-body">
                                    <a href="{% url 'catalogue:model' conditioner.brand_id conditioner.slug %}">
                                        <h3 class="uk-card-title">{{ conditioner.title|truncatechars:15 }}</h3>
                                    </a>
                                    <p>
                                        Brand: <a href="{% url 'catalogue:brand' conditioner.brand_id %}">{{ conditioner.brand }}</a>
                                    </p>
                                    <p>Type: {{ conditioner.type }}</p>
                                    <p>Block type: {{ conditioner.block_type }}</p>
                                    <p>Inverter: {{ conditioner.inverter }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

