<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/css/uikit.min.css" />
<div class="uk-container">
    <div uk-grid>

        <div class="uk-width-1-4">

            <h2>Filters</h2>
            <form method="get" class="uk-form-stacked">
                {{ filter_form }}
                <button class="uk-button uk-button-default" type="submit"><span uk-icon="icon: search"></span> Search</button>
            </form>
        </div>
        <div class="uk-width-3-4">

            <h2>List of Conditioners</h2>
            <div class="uk-grid-divider uk-child-width-expand@s" uk-grid>
                {% for conditioner in conditioners %}
                    <div>
                        <h3>{{ conditioner.title }}</h3>
                        <p>Brand: {{ conditioner.brand }}</p>
                        <p>Type: {{ conditioner.type }}</p>
                        <p>Block type: {{ conditioner.block_type }}</p>
                        <p>Inverter: {{ conditioner.inverter }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.20/js/uikit-icons.min.js"></script>
