{% extends 'catalogue/index.html' %}
{% block model %}
    <div class="uk-card uk-card-primary uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="{{ conditioner.image.url }}" alt="{{ conditioner.title }}">
        </div>
        <div>
            <div class="uk-card-body">
                <h3>{{ conditioner.title }}</h3>
                <p>Type: {{ conditioner.type }}</p>
                <p>Block type: {{ conditioner.block_type }}</p>
                <p>Inverter: {{ conditioner.inverter }}</p>
            </div>
        </div>
    </div>
{% endblock %}
